{{>header}}
<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3 class="h3-g">Welcome to Express Dashboard</h3>
        <h5 class="h5-w">{{user}}</h5>
        <a href="/" class="anch-v">Logout</a>
    </div>
</div>
{{>footer}}